@font-face {
    font-family: 'Kotra';
    src: url('../../../../../assets/fonts/KOTRA_BOLD.ttf');
};

@font-face {
    font-family: "Gmarket";
    src: url("../../../../../assets/fonts/GmarketSansTTFBold.ttf");
};

@font-face {
    font-family: 'Gothic';
    src: url('../../../../../assets/fonts/NanumBarunGothic.ttf');
  };