@font-face {
    font-family: 'Kotra';
    src: url('../../../../../assets/fonts/KOTRA_BOLD.ttf');
};

@font-face {
    font-family: "Gmarket";
    src: url("../../../../../assets/fonts/GmarketSansTTFBold.ttf");
};

@font-face {
font-family: 'Black';
src: url('../../../../../assets/fonts/BlackHanSans-Regular.ttf');
};

@font-face {
font-family: 'Noto';
src: url('../../../../../assets/fonts/NotoSansKR-Regular.otf');
};
  
